.myList {
  width: 100%;
  padding-top: 60px;
  margin-bottom: 30px;
  overflow: hidden;
}

.myListTitle {
  font-size: 1.8rem;
  color: #FFFFFF;
  margin-left: 50px;
}

.myListCards {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  transition: 1s;
}

.myListEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.myListEmptyMessage {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
}

.myListEmptyMessageDescription {
  font-size: .9rem;
  color: #AAAAAA;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .myListTitle {
    display: none;
  }

  .myListCards {
    margin-top: 20px;
  }
}