.card {
  position: relative;
}

.card:first-child {
  margin-left: 50px;
}

.card:last-child {
  margin-right: 50px;
}

.card img {
  aspect-ratio: 2/3;
  margin: 0 2.5px;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover>.addToMyListButton {
  display: initial;
}

.addToMyListButton {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  font-size: 45px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
}

.addToMyListButton:hover {
  background-color: #c5c4c4;
}

.page:nth-child(6n+1) {
  margin-left: 50px;
}

.page:last-child {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .card:first-child {
    margin-left: 10px;
  }

  .card:last-child {
    margin-right: 10px;
  }

  .page:nth-child(3n+1) {
    margin-left: 10px;
  }

  .page:last-child {
    margin-right: 0;
  }

  .addToMyListButton:hover {
    display: none;
  }
}