.navbar{
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 100px);
  padding: 10px 50px;
  transition: background .5s ease;
}

.navbarLeft,
.navbarRight{
  height: 50px;
  display: flex;
  align-items: center;
}

.navbarRight > *{
  margin-left: 25px;
  font-size: 1.5rem;
  color: #FFFFFF;
  cursor: pointer;
}

.navbarLeft img{
  width: 90px;
  margin-right: 35px;
  object-fit: cover;
  cursor: pointer;
}

.navbarLeft nav a:not(.bold){
  color: #dbdbdb;
  margin-right: 15px;
  text-decoration: none;
  transition: .5s;
}

.navbar_div nav a:hover{
  color: #9f9f9f;
}

.bold{
  margin-right: 15px;
  text-decoration: none;
  transition: .5s;
  color: #FFFFFF;
  font-weight: 600;
  pointer-events: none;
}

.searchBar{
  display: flex;
  align-items: center;
  width: 24px;
  height: 60%;
  font-size: 1rem;
  border-radius: 0;
  border: 1px solid transparent;
  transition: .7s;
}

.searchInput{
  height: 100%;
  width: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 1.05rem;
  opacity: 0;
  cursor: text;
}

.searchInput:focus{
  outline: none;
}

.searchButton{
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
}

@media screen and (max-width:  600px) {
  .navbar{
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 10px;
  }

  .navbarLeft img{
    margin-right: 0;
  }
  
  .navbarLeft nav a{
    display: none;
  }

  .navbarRight{
    margin: 0;
  }
}