.row{
  width: 100%;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.row p{
  margin-left: 50px;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
}

.arrows{
  position: absolute;
  width: 50px;
  color: transparent;
  background-color: #0000007a;
  z-index: 1;
  cursor: pointer;
}

.row:hover .arrows{
  color: #FFFFFF;

}

.arrows:hover{
  background-color: #000000b7;
}

.arrows:first-child{
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to right, #000000ae, #00000000);
}

.arrows:first-child:hover{
  background-color: #0000009f;
}

.arrows:last-child{
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: linear-gradient(to left, #000000ae, #00000000);
}

.arrows:last-child:hover{
  background-color: #0000009f;
}

.rowCards{
  position: relative;
  display: flex;
  transition: 1s;
}